body {
   font-family: Georgia,Arial,Verdana;
   font-size: 15px;
   background: aliceblue;
  
}

a {
    /*text-decoration: none;*/
    color: black;
}

header{
   
    height: 50px;
    
    
}
header #logo{
    
    float: left;
    margin-left: 100px;
   
  

}



header #lan{
  float: right;
  text-transform: uppercase;    
  font-weight: bold;
  margin-right:100px; 
  
  
  
}

#lan ul{
    list-style: none;
    
}

#lan ul li{
    float: left;
}


header #lan a{
    color: #999999;  
}


#content{
    clear:both;
    border-bottom: medium solid #e3e3e3;
    border-top: medium solid #e3e3e3;
    overflow: hidden;
    /*padding: 0px 0px 10px 0px;*/
    min-width: 800px;
    min-height: 450px;
    max-height: 800px;
   
    
    
    
}



#nav{
    margin-top: 20px;
    list-style: none;
    /* line-height: 30px;*/
    padding-left: 0;
    margin: 0px 70px 0px 130px;
    
}
#nav li{
    float: left;
    padding-right: 20px;
    
   
}

#nav li a{
     font-weight: bold;
     line-height: 35px;
}

#nav li ul li{
    float: none;
    
    
    
}

#nav li ul{
    list-style: none;
    padding-left: 0;
    line-height: 25px;
    font-size: 11px;
}

footer, #content{
    
    margin: 0px 100px 0px 100px;
    width: 1200px;
    
    
}


footer {
    clear: both;
    border-bottom: thin solid #C4C2C3;
    border-top: thin solid #C4C2C3;
    background-color: #e3e3e3;
    min-height: 300px;
    
     
}

#lemme{
    height: 200px;
    background: url("img/lemme.jpg");
    background-repeat: no-repeat;
    text-indent: -9999px;
    width: 200px;
    float:left;
}
#friends {
    list-style: none;
    width: 500px;
    float:left;
    padding-left: 0;
    

}

lable{
    float; left;
}
address{
    
    width: 500px;
    float:left;
    
    
}







