html{
    height: 100%;
}
body {
   height: 100%;
   font-family: Georgia,Arial,Verdana;
   font-size: 0.9375em;
   background: antiquewhite;
   margin: auto;

  
}

#wrap{
    height: 100%;
}
a {
    text-decoration: none;
    color: black;
}

header{
   
    height: 5.035%;
    
    
}
header #logo{
    
    float: left;
    margin-left: 6%;
   

}

header #lan{
  float: right;
  text-transform: uppercase;    
  font-weight: bold;
  margin-right: 6%; 
  
  
  
  
}

#lan ul, #friends{
    list-style: none;
    
}

#lan ul li{
    float: left;
}


header #lan a{
    color: #999999;  
}


#content{
    clear:both;
    border-bottom: medium solid #de188f;
    border-top: medium solid #de188f;
    overflow: hidden;
    margin: 0% 6% 0% 6%;
    height: 45%;
    
}

#content img{
    width: 30%;
    height: 101%;
    
}

#nav{
   
    list-style: none;
    line-height: 1.875em;
    padding-left: 0;
    margin: 1% 6% 0% 6%;
    
    
}
#nav li{
    float: left;
    padding-right: 1.5em;
   
}

#nav li a:hover{
    background: #de188f;
}

#nav li a{
     font-weight: bold;
}

#nav li ul li{
    float: none;
    
}

#nav li ul{
    list-style: none;
    padding-left: 0;
}

footer {
    clear: left;
    margin:2% 6% 0% 6%;
    height: 25%;
    background-color: lightgray;
    
    
}

#picture{
    clear: both;
    background: url("http://placehold.it/200x200");
    text-indent: -9999px;
    width: 16%;
    height: 100%;
    float:left;
    margin: 0;
}

address{
    float:left;
    padding-right: 10%;
    margin:2% 0% 2% 2%;
}

#friends{
    padding:2% 0% 2% 2%;
}

label{
    padding-top: 10px;
}

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */