body {
   font-family: Georgia,Arial,Verdana;
   font-size: 15px;
   background: aliceblue;
   position: relative;
}

a {
    text-decoration: none;
    color: black;
}

header{
    margin-top: 8%;
    height: 50px;
    
}
header #logo{
    
    float: left;
    font-size: 40px;
   
}

header #lan{
   float: right;
   padding-left: 20px;
}

header #lan{
  text-transform: uppercase;    
  font-weight: bold;
  
}

header #lan{
    padding-top: 30px;
}

header #lan a{
    color: #999999;  
}


#content{
   
    border-bottom: medium solid #e3e3e3;
    border-top: medium solid #e3e3e3;
    overflow: hidden;
    padding: 0px 0px 10px 0px;
    min-height: 300px;
    min-width: 1000px;
    max-height: 800px;
    
}

#nav{
    margin-top: 20px;
}







